<!DOCTYPE html>
<html>

<head>
    <title>基礎模板語法</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="images/favicon.ico" rel="shortcut icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/all.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/regular.js" integrity="sha384-t7yHmUlwFrLxHXNLstawVRBMeSLcXTbQ5hsd0ifzwGtN7ZF7RZ8ppM7Ldinuoiif" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <script src="/javascripts/vendor.js"></script>

</head>

<body class="bg-lighter">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Vue.js 練習手冊</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/basic/dev.html">基礎教學</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/template/basic.html">模板指令</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/components/basic.html">組件</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/vue_set.html">常用 API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/es6/let_const.html">ES6</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="container my-5">
        <div class="row">

            <div class="col-md-3">

                <div>
                    <h6 class="text-capitalize text-muted">template</h6>


                    <a href="/template/basic.html" class="btn btn-block btn-primary active">
        基礎模板語法
      </a>



                    <a href="/template/v_class.html" class="btn btn-block btn-link">
        切換樣式
      </a>



                    <a href="/template/v_if.html" class="btn btn-block btn-link">
        v-if 模板判斷
      </a>



                    <a href="/template/v_for.html" class="btn btn-block btn-link">
        v-for 迴圈
      </a>



                    <a href="/template/computed_watch.html" class="btn btn-block btn-link">
        計算及監聽
      </a>



                    <a href="/template/form.html" class="btn btn-block btn-link">
        表單補充介紹
      </a>



                    <a href="/template/v_on.html" class="btn btn-block btn-link">
        v-on 事件綁定
      </a>



                    <a href="/template/homework_sortby.html" class="btn btn-block btn-link">
        作業練習：表格排序
      </a>


                </div>
            </div>

            <div class="col-md-9 post">
                <!-- 練習開始 -->
                <h1 class="mt-0 text-muted">基礎模板語法</h1>

                <div class="alert alert-secondary">
                    <ol class="mb-0">
                        <li>請跟隨課程完成此章節。</li>
                    </ol>
                </div>

                <div id="app">
                    <h4>字串</h4>
                    {{ text }}
                    <input type="text" class="form-control" v-model="text">

                    <h4 class="mt-3">原始 HTML</h4>
                    {{ rawHtml }}
                    <p v-html="rawHtml">請在此加入原始 HTML 結構</p>
                    <p><a href="https://cn.vuejs.org/v2/api/#v-html">額外注意事項</a></p>

                    <h4 class="mt-3">單次綁定</h4>
                    <div v-text="text" v-once>請將此欄位改為單次綁定</div>

                    <h4 class="mt-3">表達式</h4>
                    <p>練習不同的表達式</p>
                    {{text+rawHtml}} {{text.split('').reverse().join("")}} {{number1*number2}}
                    <hr>
                    <h4 class="mt-3">HTML 屬性</h4>
                    <p :id="htmlId">請綁定上 ID</p>

                    <input type="text" :disabled="isDisabled" class="form-control" placeholder="請在此加上動態 disabled">
                </div>

                <script>
                    var app = new Vue({
                        el: '#app',
                        data: {
                            text: '這是一段文字',
                            rawHtml: `<span class="text-danger">紅色文字</span>`,
                            // rawHtml2: `<span class="text-danger">CWP</span>`,
                            number1: 100,
                            number2: 300,
                            htmlId: 'HTMLID',
                            isDisabled: true
                        },
                    });
                </script>

                <!-- 解答：
<h4>字串</h4>
{{ text }}
<input type="text" class="form-control" v-model="text">
<h4 class="mt-3">原始 HTML</h4>
{{ rawHtml }}
<p v-html="rawHtml"></p>
<h4 class="mt-3">單次綁定</h4>
<div v-text="text" v-once></div>
<h4 class="mt-3">表達式</h4>
<p>{{ text + rawHtml }}</p>
<p>{{ text.split('').reverse().join('') }}</p>
<p>{{ number1 + number2 }}</p>
<hr>
<h4 class="mt-3">HTML 屬性</h4>
<p v-bind:id="HTMLID">請綁定上 ID</p>
<input type="text" :disabled="isDisabled" class="form-control" placeholder="請在此加上動態 disabled">
-->
            </div>
        </div>
    </div>
</body>

</html>