<!DOCTYPE html>
<html>

<head>
    <title>v-for 迴圈</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="images/favicon.ico" rel="shortcut icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/all.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/regular.js" integrity="sha384-t7yHmUlwFrLxHXNLstawVRBMeSLcXTbQ5hsd0ifzwGtN7ZF7RZ8ppM7Ldinuoiif" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <script src="/javascripts/vendor.js"></script>

</head>

<body class="bg-lighter">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Vue.js 練習手冊</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/basic/dev.html">基礎教學</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/template/basic.html">模板指令</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/components/basic.html">組件</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/vue_set.html">常用 API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/es6/let_const.html">ES6</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="container my-5">
        <div class="row">

            <div class="col-md-3">

                <div>
                    <h6 class="text-capitalize text-muted">template</h6>


                    <a href="/template/basic.html" class="btn btn-block btn-link">
        基礎模板語法
      </a>



                    <a href="/template/v_class.html" class="btn btn-block btn-link">
        切換樣式
      </a>



                    <a href="/template/v_if.html" class="btn btn-block btn-link">
        v-if 模板判斷
      </a>



                    <a href="/template/v_for.html" class="btn btn-block btn-primary active">
        v-for 迴圈
      </a>



                    <a href="/template/computed_watch.html" class="btn btn-block btn-link">
        計算及監聽
      </a>



                    <a href="/template/form.html" class="btn btn-block btn-link">
        表單補充介紹
      </a>



                    <a href="/template/v_on.html" class="btn btn-block btn-link">
        v-on 事件綁定
      </a>



                    <a href="/template/homework_sortby.html" class="btn btn-block btn-link">
        作業練習：表格排序
      </a>


                </div>
            </div>

            <div class="col-md-9 post">
                <!-- 練習開始 -->
                <h1 class="mt-0 text-muted">v-for 迴圈</h1>

                <div class="alert alert-secondary">
                    <ol class="mb-0">
                        <li>請跟隨課程完成此章節。</li>
                    </ol>
                </div>

                <div id="app">
                    <h4>陣列與物件的迴圈</h4>
                    <p>請使用 v-for 在陣列與物件上，並且加上索引</p>
                    <ul>
                        <li v-for="(item, key) in objectData">
                            {{ key }} - {{ item.name }} {{ item.age }} 歲
                        </li>
                    </ul>
                    <ul>

                    </ul>
                    <hr>
                    <h4>Key</h4>
                    <p>請在範例上補上 key，並觀察其差異</p>
                    <ul>
                        <li v-for="(item, key) in arrayData" :key="item.age">
                            {{ key }} - {{ item.name }} {{ item.age }} 歲 <input type="text">
                        </li>
                    </ul>
                    <button class="btn btn-outline-primary" @click="reverseArray ">反轉陣列</button>

                    <h4>Filter</h4>
                    <p>請製作過濾資料</p>
                    <input type="text" class="form-control" v-model="filterText" @keyup.enter="fliterData">
                    <ul>
                        <li v-for="(item, key) in filterArray" :key="item.age">
                            {{ key }} - {{ item.name }} {{ item.age }} 歲 <input type="text">
                        </li>
                    </ul>

                    <h4>不能運作的狀況</h4>
                    <p>講師說明</p>
                    <button class="btn btn-outline-primary">無法運行</button>
                    <ul>
                        <li v-for="(item, key) in arrayData" :key="item.age">
                            {{ key }} - {{ item.name }} {{ item.age }} 歲 <input type="text">
                        </li>
                    </ul>

                    <h4>純數字的迴圈</h4>
                    <ul>
                        <li v-for="item in 18">
                            {{ item }}
                        </li>
                    </ul>

                    <h4>Template 的運用</h4>
                    <p>請將兩個 tr 一組使用 v-for</p>
                    <table class="table">
                        <template v-for="item in arrayData">
<tr>
  <td>{{item.age}}</td>
</tr>
<tr>
  <td>{{item.name}}</td>
</tr>
                        </template>
                    </table>

                    <h4>v-for 與 v-if</h4>
                    <p>請加上 v-if 判斷式</p>
                    <ul>
                        <li v-for="(item, key) in arrayData" v-if="item.age < 21">
                            {{ key }} - {{ item.name }} {{ item.age }} 歲
                        </li>
                    </ul>

                    <h4>v-for 與 元件</h4>
                    <p>講師說明</p>
                    <ul>
                        <list-item :item="item" v-for="(item, key) in arrayData" :key="item.age"></list-item>
                    </ul>
                    <p>注意：現在建議元件使用 v-for 都加上 key。<a href="https://cn.vuejs.org/v2/guide/list.html#%E4%B8%80%E4%B8%AA%E7%BB%84%E4%BB%B6%E7%9A%84-v-for">參考</a></p>
                </div>

                <script>
                    Vue.component('list-item', {
                        template: `
    <li>
      {{ item.name }} {{ item.age }} 歲
    </li>
  `,
                        props: ['item']
                    });

                    var app = new Vue({
                        el: '#app',
                        data: {
                            arrayData: [{
                                name: '小明',
                                age: 16
                            }, {
                                name: '漂亮阿姨',
                                age: 24
                            }, {
                                name: '杰倫',
                                age: 20
                            }],
                            objectData: {
                                ming: {
                                    name: '小明',
                                    age: 16
                                },
                                auntie: {
                                    name: '漂亮阿姨',
                                    age: 24
                                },
                                jay: {
                                    name: '杰倫',
                                    age: 20
                                }
                            },
                            filterArray: [],
                            filterText: ''
                        },
                        methods: {
                            // 請在此練習 JavaScript

                            // 解答：
                            reverseArray: function() {
                                this.arrayData.reverse()
                                console.log(this.arrayData)
                            },
                            fliterData: function() {
                                    var vm = this;
                                    vm.filterArray = vm.arrayData.filter(function(item) {
                                        console.log(vm.filterText, item.name, item.name.match(vm.filterText));
                                        return item.name.match(vm.filterText);
                                    });
                                }
                                // filterData: function () {
                                //   var vm = this;
                                //   vm.filterArray = vm.arrayData.filter(function (item) {
                                //     console.log(vm.filterText, item.name, item.name.match(vm.filterText))
                                //     return item.name.match(vm.filterText);
                                //   });
                                // },
                                // cantWork: function () {
                                //   // // 情境一
                                //   // this.arrayData.length = 2;

                            //   // // 情境二
                            //   // this.arrayData[0] = {
                            //   //   name: '阿強',
                            //   //   age: 99
                            //   // }
                            //   // 解法
                            //   // Vue.set(this.arrayData, 0, {
                            //   //   name: '阿強',
                            //   //   age: 99
                            //   // })
                            //   console.log(this.arrayData)
                            // }
                        }
                    });
                </script>

                <!-- 解答：
<h4>陣列與物件的迴圈</h4>
<ul>
  <li v-for="(item, key) in arrayData">
    {{ key }} - {{ item.name }} {{ item.age }} 歲
  </li>
</ul>
<ul>
  <li v-for="(item, key, index) in objectData">
    {{ index }} {{ key }} - {{ item.name }} {{ item.age }} 歲
  </li>
</ul>
<hr>
<h4>Key</h4>
<ul>
  <li v-for="(item, key) in arrayData" :key="item.age">
    {{ key }} - {{ item.name }} {{ item.age }} 歲 <input type="text">
  </li>
</ul>
<button @click="reverseArray" class="btn btn-outline-primary">反轉陣列</button>

<h4>Filter</h4>
<input type="text" class="form-control" v-model="filterText" @keyup.enter="filterData">
<ul>
  <li v-for="(item, key) in filterArray" :key="item.age">
    {{ key }} - {{ item.name }} {{ item.age }} 歲 <input type="text">
  </li>
</ul>

<h4>不能運作的狀況</h4>
<button @click="cantWork" class="btn btn-outline-primary">無法運行</button>
<ul>
  <li v-for="(item, key) in arrayData" :key="item.age">
    {{ key }} - {{ item.name }} {{ item.age }} 歲 <input type="text">
  </li>
</ul>

<h4>純數字的迴圈</h4>
<ul>
  <li v-for="item in 10">
    {{ item }}
  </li>
</ul>

<h4>Template 的運用</h4>
<table class="table">
  <template v-for="(item, key) in arrayData">
    <tr>
      <td rowspan="2">{{ key }}</td>
      <td>{{ item.name }}</td>
    </tr>
    <tr>
      <td>{{ item.age }}</td>
    </tr>
  </template>
</table>

<h4>v-for 與 v-if</h4>
<ul>
  <li v-for="(item, key) in arrayData" v-if="item.age <= 20">
    {{ key }} - {{ item.name }} {{ item.age }} 歲
  </li>
</ul>

<h4>v-for 與 元件</h4>
<ul>
  <list-item :item="item" v-for="(item, key) in arrayData" :key="item.age"></list-item>
</ul>
<p>注意：現在建議元件使用 v-for 都加上 key。<a href="https://cn.vuejs.org/v2/guide/list.html#%E4%B8%80%E4%B8%AA%E7%BB%84%E4%BB%B6%E7%9A%84-v-for">參考</a></p>

-->
            </div>
        </div>
    </div>
</body>

</html>